{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section id="login-section">
<div class="container">
<div class="row align-items-center justify-content-center p-5" style="height:100vh">
            <div class="col-md-4 col-lg-3">

                  <h1 class="display-4 text-white">Signin</h1>

            </div>
            <div class="col-md-9 col-lg-9">
                <div class="demo-content bg-alt">
                  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Login</button>

                      <p>
                        <span class="text-white">
                            if you are not member please register.
                        </span>
                          <br>
                          <a href="{% url 'register' %}" type="submit" class="btn btn-success">Register</a>

                      </p>
  </form>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}