{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}
  Employee - Company {{ today }}
          {% endblock %}



        <!-- Page Header-->

{% block content %}
{% comment %} index.html {% endcomment %}

<div class="container mt-3">
  <h2>Eployees List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for employee in employees%}
      <tr>
        <td>{{ employee.name | initial_letter_filter }}</td>
        <td>{{ employee.email}}</td>
        <td>{{ employee.salary}}</td>
        <td><a href="{% url 'employee' employee.id %}">More...</a> </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

  {% endblock %}
